<div class = "logInTextContainer">
    <p class = "logInText">Log In</p>
</div>
<div class = "usernameAndPswdContainer">
    <div class = "userNameContainer">
        <div class = "userNameLabelContainer">
            <p>Username:</p>
        </div>
        <!-- <textarea class = "userNameTextArea"></textarea> -->
        <input class = "username-textarea">
    </div>
    <div class = "pswdContainer">
        <div class = "pswdLabelContainer">
            <p>Password:</p>
        </div>
        <input class = "passwordInput" type = "password">
    </div>
</div>
<div class = "button-container">
    <button class = "login-button"  routerLink ="../home-page" routerLinkActive="active">
        <div class = "login-button-text-container">
            <p class = "button-text">Log In</p>
        </div>
    </button>
</div>
<div class = "createAccountContainer">
    <div class = "textContainer">
        <p class = "createAccountText">Don't have an account?</p>
    </div>
    <div class = "createAccountButtonContainer">
        <button class = "createButton" routerLink ="../create-account">Create Account</button>
    </div>
</div>



