<div class = "header">
    <div class = "title-container">
      <button class = "title-button" routerLink = "/home-page"> <!--[disabled] = "!isLoggedIn"-->
        <h1 id = "title-text">My Bullet Journal</h1>
      </button>
    </div>
    <div class = "my-account-container">
      <button class = "my-account" routerLink = "/my-account"><!--[disabled] = "!isLoggedIn"-->
        <mat-icon class = "account">account_circle</mat-icon>
        <p class = "logOutText">My Account</p>
      </button>
    </div>
  </div>
