<div class = "myAccountTextContainer">
    <p class = "myAccountText">My Account</p>
</div>
<div class = "editAccountButtonContainer">
    <button class = "editAccountButton">Edit Account</button>
</div>
<div class = "userInfoContainer">
    <div id = "firstNameContainer" class = "container">
        <div id = "firstNameLabelContainer" class = "labelContainer">
            <p>First Name: {{firstName}}</p>
        </div>
    </div>
    <div id = "lastNameContainer" class = "container">
        <div id = "lastNameLabelContainer" class = "labelContainer">
            <p>Last Name: {{lastName}}</p>
        </div>
    </div>
    <div id = "emailContainer" class = "container">
        <div id = "emailContainer" class = "labelContainer">
            <p>Email: {{email}}</p>
        </div>
    </div>
    <div id = "userNameContainer" class = "container">
        <div id = "userNameContainer" class = "labelContainer">
            <p>Username: {{userName}}</p>
        </div>
    </div>
</div>
<div class = "button-container">
    <button class = "logOutButton" (click) = "logOut()" routerLinkActive="active">
        <div class = "lotOutButtonTextContainer">
            <p class = "button-text">Log Out</p>
        </div>
    </button>
</div>
