//general

.container {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.labelContainer {
    font-family: 'h1Bold';
    font-weight: bold;
    font-size: 30px;
    display: flex;
    flex-direction: row;
}

.label {
    margin-right: 10px;
}

.value {
    font-family: 'myBodyFont';
    font-size: 20px;
    align-self: center;
    padding-top: 5px;
}

.inputContainer {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.inputValue {
    padding: 10px;
    // font-size: 25px;
    border: none;
    background-color: white;
    border-radius: 20px;
    // font-family: "myBodyFont";
    height: 20px;
    width: 100%;
    outline: none;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

p {
    font-family: 'h1Bold';
    font-weight: bold;
    font-size: 30px;
}

//------------------------------------------------------

//my account title

.myAccountTextContainer {
    display: flex;
    justify-content: center;
}

.myAccountTextContainer p{
    text-align: center;
    font-family: "h1Bold";
    font-weight: bold;
    font-size: 60px;
    background-image: url(/assets/highlighterStroke.png);
    background-repeat: no-repeat;
    width: 20%;
}

//edit account

.editAccountButtonContainer {
    display: flex;
    justify-content: center;
    margin-top: -50px;
}

.editAccountButton {
    cursor: pointer;
    font-family: "h1Bold";
    font-size: 20px;
    border: none;
    background: none;
    color: blue;
}

.editAccountButton:hover {
    text-decoration: underline;
}

//reset password

.resetPasswordButtonContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.resetPasswordButton {
    cursor: pointer;
    font-family: "h1Bold";
    font-size: 20px;
    border: none;
    background: none;
    color: blue;
}

.resetPasswordButton:hover {
    text-decoration: underline;
}

//user info container

.userInfoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    margin-left: 230px;
}



//log out button

.button-container{
    display: flex;
    justify-content: center;
}

.logOutButton {
    display: flex;
    flex-direction: row;
    height: 45px;
    margin-bottom: 10px;
    border-radius: 20px;
    outline: none;
    background-color: white;
    align-self: center;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.logOutButton:hover {
    background-color: #B1B1B1;
}

.lotOutButtonTextContainer {
    display: flex;
    align-items: center;
    align-self: center;
    padding: 25px;
}

.button-text {
    font-family: "h1Bold";
    font-size: 2vw;
}


