<ng-container *ngIf="actionCodeChecked" [ngSwitch]="mode">
    <ng-container *ngSwitchCase = "'resetPassword'">
        <div class = "resetPasswordTextContainer">
            <p class = "resetPasswordText">Reset Password</p>
        </div>
        <div class = "errorMessagesContainer">
            <p class = "errorMessageText" *ngIf = "errorMessage.length > 0">{{errorMessage}}</p>
        </div>
        <div class = "newPswdContainer">
            <div class = "passwordContainer">
                <div class = "pswdLabelContainer">
                    <p>New Password:</p>
                </div>
                <input class = "pswdInput" id = "newPassword" name = "newPassword" [(ngModel)] = "newPassword" type = "text" placeholder = "New Password">
            </div>
            <div class = "retypePswdContainer">
                <div class = "retypePswdLabelContainer">
                    <p>Confirm Password:</p>
                </div>
                <input class = "retypePasswordInput" id = "confirmPassword" name = "confirmPassword" [(ngModel)] = "confirmPassword" type = "text" placeholder = "Confirm Password">
            </div>
        </div>
        <div class = "button-container">
            <button class = "reset-button"  (click) = "handleResetPassword()" routerLinkActive="active">
                <div class = "reset-button-text-container">
                    <p class = "button-text">Reset</p>
                </div>
            </button>
        </div>
    </ng-container>
</ng-container>


<!-- <ng-container *ngIf="actionCodeChecked" [ngSwitch]="mode"> 
    <ng-container *ngSwitchCase="'resetPassword'"> 
        <input [(ngModel)]="oldPassword" type="text" id="oldPassword" name="oldPassword" placeholder="Old Password"><br> 
        <input [(ngModel)]="newPassword" type="text" id="newPassword" name="newPassword" placeholder="New Password"><br> 
        <input [(ngModel)]="confirmPassword" type="text" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password"> 
        <button (click)="handleResetPassword()">Confirm</button> 
    </ng-container> 
    <ng-container *ngSwitchCase="'recoverEmail'"></ng-container> 
    <ng-container *ngSwitchCase="'verifyEmail'"></ng-container> 
</ng-container> -->




