/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Caligraphy";
    src: url(assets/fonts/autumn-in-november.regular.ttf) format("truetype");
}

@font-face {
    font-family: "h1Bold";
    src: url(assets/fonts/AmaticSC-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "h1Regular";
    src: url(assets/fonts/AmaticSC-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "myBodyFont";
    src: url(assets/fonts/GiveYouGlory-Regular.ttf) format("truetype");
}



html {
    background-image: url(/assets/myGrid.png);
    height: 100%;
    // background-position:center;
    background-repeat:repeat;
    background-size:cover;
}


// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
