p {
    font-family: "myBodyFont";
    font-size: 3vw;
    font-weight: bold;
}

h2 {
    font-family: "Caligraphy";
    font-size: 2vw;
}

.grid-container {
    display: grid;
    // justify-items: center;
    grid-template-columns: 33.3% 33.3% 33.3%;
    padding: 10px;
}

.grid-item {
    // background-color: rgba(255, 255, 255, 0.8);
    // border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-align: -webkit-center;
}

.grid-button {
    width: 90%;
    border: none;
    height: 100px;
    padding: 25px;
    padding-top: 35px;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    // align-self: center;
    cursor: pointer;
    outline: none;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}



.grid-button:hover {
    background-color: #B1B1B1;
}

.yearlyLabelContainer {
    text-align: -webkit-center;
}


.yearlyLabelTextContainer {
    background-image: url(/assets/highlighterStroke.png);
    background-repeat: no-repeat;
    width: 32%;
}

.yearlyLabel {
    line-height: 40px;
    padding-top: 30px;
}

.monthlyLabelContainer {
    text-align: -webkit-center;
}


.monthlyLabelTextContainer {
    background-image: url(/assets/highlighterStrokeFlipped.png);
    background-repeat: no-repeat;
    width: 40%;
}

.monthlyLabel {
    line-height: 40px;
    padding-top: 30px;
}

.textContainer {
    margin-left: -35px;
}

.mat-icon {
    font-size: 60px;
    margin-right: 50px;
    margin-bottom: 50px;
}

#shows-icon.mat-icon {
    margin-right: 12px;
    margin-left: 30px;
    margin-top: 5px;
}






// .movieIcon {
//     width: 60px;
//     margin-right: 8px;
// }

// .showIcon {
//     width: 60px;
//     margin-right: 8px;
// }

// .bookIcon {
//     width: 60px;
//     margin-right: 8px;
// }

// .goalIcon {
//     width: 60px;
//     margin-right: 8px;
// }

// .calendarIcon {
//     width: 60px;
//     margin-right: 8px;
// }

// .eventsIcon {
//     width: 60px;
//     margin-right: 8px;
// }

// .pixelIcon {
//     width: 60px;
//     margin-right: 8px;
// }
