<div class = "yearlyLabelContainer">
    <div class = "yearlyLabelTextContainer">
        <p class = "yearlyLabel">Yearly Journal Entries</p>
    </div>
</div>
<div class = "grid-container">
    <div class= "grid-item">
        <button class = "grid-button"  routerLink ="../yearly-goals" routerLinkActive="active" >
            <h2>Yearly Goals</h2>
        </button>
    </div>
    <div class= "grid-item">
        <button class = "grid-button">
            <h2>Year In Pixels</h2>
        </button>
    </div>
    <div class= "grid-item">
        <button class = "grid-button">
            <div class = "textContainer">
                <h2>Books</h2>
            </div>
        </button>
    </div>
    <div class= "grid-item">
        <button class = "grid-button">
            <h2>Movies</h2>
        </button>
    </div>
    <div class= "grid-item">
        <button class = "grid-button">
            <h2>Shows</h2>
        </button>
    </div>
</div>

<div class = "monthlyLabelContainer">
    <div class = "monthlyLabelTextContainer">
        <p class = "monthlyLabel">Monthly Journal Entries</p>
    </div>
</div>
<app-calendar></app-calendar>
<div class = "grid-container">
    <div class= "grid-item">
        <button class = "grid-button">
            <h2>Yearly Goals</h2>
        </button>
    </div>
    <div class= "grid-item">
        <button class = "grid-button">
            <h2>Year In Pixels</h2>
        </button>
    </div>
    <div class= "grid-item">
        <button class = "grid-button">
            <h2>Movies</h2>
        </button>
    </div>
</div>