<div class = "yearlyLabelContainer">
    <div class = "yearlyLabelTextContainer">
        <p class = "yearlyLabel">Yearly Journal Entries</p>
    </div>
</div>
<div class = "grid-container">
    <div class= "grid-item">
        <button class = "grid-button" routerLink ="../events" routerLinkActive="active">
            <!-- <img class = "eventsIcon" src = "assets/events.png"> -->
            <mat-icon>event</mat-icon>
            <h2>Events</h2>
        </button>
    </div>
    <!-- <div class= "grid-item">
        <button class = "grid-button">
            <img class = "calendarIcon" src = "assets/calendar.png">
            <mat-icon>calendar_today</mat-icon>
            <mat-icon>date_range</mat-icon>
            <h2>Calendar</h2>
        </button>
    </div> -->
    <div class= "grid-item">
        <button class = "grid-button"  routerLink ="../yearly-goals" routerLinkActive="active">
            <!-- <img class = "goalIcon" src = "assets/goal.png"> -->
            <mat-icon>grade</mat-icon>
            <!-- <mat-icon>stars</mat-icon> -->
            <h2>Yearly Goals</h2>
        </button>
    </div>
    <div class= "grid-item">
        <button class = "grid-button">
            <!-- <img class = "pixelIcon" src = "assets/pixels3.png"> -->
            <!-- <mat-icon>dashboard</mat-icon> -->
            <!-- <mat-icon> border_clear</mat-icon> -->
            <!-- <mat-icon>blur_on</mat-icon> -->
            <!-- <mat-icon>grain</mat-icon> -->
            <!-- <mat-icon>grid_on</mat-icon> -->
            <mat-icon>apps</mat-icon>
            <h2>Year In Pixels</h2>
        </button>
    </div>
    <div class= "grid-item">
        <button class = "grid-button">
            <!-- <img class = "bookIcon" src = "assets/book.png"> -->
            <mat-icon>book</mat-icon>
            <!-- <mat-icon> import_contacts</mat-icon> -->
            <h2>Books</h2>
        </button>
    </div>
    <div class= "grid-item">
        <button class = "grid-button">
            <!-- <img class = "movieIcon" src = "assets/movie.png"> -->
            <mat-icon>theaters</mat-icon>
            <!-- <mat-icon>movie</mat-icon> -->
            <h2>Movies</h2>
        </button>
    </div>
    <div class= "grid-item">
        <button class = "grid-button">
            <!-- <img class = "showIcon" src = "assets/play.png"> -->
            <mat-icon id = "shows-icon" style="transform: rotate(90deg)">eject</mat-icon>
            <h2>Shows</h2>
        </button>
    </div>
    <div class= "grid-item">
        <button class = "grid-button">
            <!-- <img class = "showIcon" src = "assets/play.png"> -->
            <mat-icon>music_note</mat-icon>
            <h2>Music</h2>
        </button>
    </div>
</div>

<div class = "monthlyLabelContainer">
    <div class = "monthlyLabelTextContainer">
        <p class = "monthlyLabel">Monthly Journal Entries</p>
    </div>
</div>
<app-calendar></app-calendar>
<!-- <div class = "grid-container">
    <div class= "grid-item">
        <button class = "grid-button">
            <h2>Mood Tracker</h2>
        </button>
    </div>
    <div class= "grid-item">
        <button class = "grid-button">
            <h2>Habit Tracker</h2>
        </button>
    </div>
    <div class= "grid-item">
        <button class = "grid-button">
            <h2>Sleep Log</h2>
        </button>
    </div>
    <div class= "grid-item">
        <button class = "grid-button">
            <h2>Water Tracker</h2>
        </button>
    </div>
    <div class= "grid-item">
        <button class = "grid-button">
            <h2>Health Tracker</h2>
        </button>
    </div>
    <div class= "grid-item">
        <button class = "grid-button">
            <h2>Food Diary</h2>
        </button>
    </div>
</div> -->